@font-face {
    font-family: "Hybrid";
    src: 
        url(fonts/Hybrid.ttf)
        url(fonts/Hybrid.woff2);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}

body {
    margin: 0%;
    overflow: hidden;
}

.topbar {
    display: inline-flex;
}

.topbarSpacer {
    vertical-align: middle;
    margin: 20px;
}

.button {
    text-align: center;
    border: none;
    color: rgb(180, 151, 163);
    transition: 0.2s;
    transition-timing-function: ease;
    font-family: Hybrid;
    background-color: transparent;
}

.button:hover {
    color: rgb(255, 219, 171);
}

.hyperlink {
    font-family: Hybrid;
    font-size: 250%;
    color: rgb(157, 175, 255);
    text-decoration: none;
}

.textbox {
    outline: none;
    background-color: rgb(180, 151, 163);
    border-radius: 5px;
    font-family: Hybrid;
    color: white;
    border: none;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;

    transition: opacity 0.5s ease;
}