@font-face {
    font-family: "Hybrid";
    src: url(Hybrid.ttf);
}

body {
    margin: 0%;
    overflow: hidden;
}

.topbar {
    display: inline-flex;
}

.topbarSpacer {
    vertical-align: middle;
    margin: 20px;
}

.hybridFont {
    font-family: Hybrid;
}

.topButton {
    vertical-align: top;
    font-size: 400%;
    text-align: center;
    border: none;
    background-color: transparent;
    color: rgb(180, 151, 163);
    transition: 0.2s;
    transition-timing-function: ease;
}

.topButton:hover {
    color: rgb(255, 219, 171);
}

.container {
    width: 100%;
    height: 100%;

    align-items: center;
    transition: opacity 0.5s ease;
}