@font-face {
    font-family: "Hybrid";
    src:
        url(fonts/Hybrid.woff2)
}

@font-face {
    font-family: "Antapani";
    src: 
        url(fonts/Antapani-ExtraBold.otf)
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}

.hybridFont {
    font-family: Hybrid;
    color: rgb(0, 0, 0);
}

.antapaniFont {
    font-family: Antapani;
    color: rgb(0, 0, 0)
}

body {
    margin: 0%;
    overflow: hidden;
}

.topbar {
    display: inline-flex;
}

.topbarSpacer {
    vertical-align: middle;
    margin: 20px;
}

.button {
    text-align: center;
    border: none;
    color: rgb(180, 151, 163);
    transition: 0.2s;
    transition-timing-function: ease;
    background-color: transparent;
}

.button:hover {
    color: rgb(255, 219, 171);
}

.hyperlink {
    font-size: 1.5vmax;
    color: rgb(157, 175, 255);
    text-decoration: none;
}

.textbox {
    outline: none;
    background-color: rgb(180, 151, 163);
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;

    transition: opacity 0.5s ease;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.socialIcon {
    margin-right: 1vh;
    margin-left: 1vh;
    width: 3vh;
    height: 3vh;
}